@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #151414;
}
nav{
    /* background-color: aquamarine; */
    height: 16vh;
    width: 100%;
    color: #F3C77C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2vw;
}
.nav-left{
    gap: 5vw;
    display: flex;
    align-items: center;
}
.nav-left p{
    font-size: 1.5vw;
    color: #E7CFB1;
    /* font-weight: 100; */
}
.nav-left p:hover{
    color: orange;
    cursor: pointer;
}
.hello{
    color: #F3C77C;
    /* background-color: aqua; */
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello h1{
    font-size: 33vw;
    font-weight: 900;
    letter-spacing: -1vw;
}
.page1-capsule{
    text-align: center;
    height: 20vh;
    background-color: #151414;
}
.page1-capsule p{
    font-size: 2vw;
    color: #E7CFB1;
    text-transform: uppercase;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #151414;

}
.page2 video{
    height: 99%;
    width: 10%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #151414;
}
.page3 h1{
    color: #E7CFB1;
    text-transform: uppercase;
    font-size: 12vw;
    line-height: 22vh;
    text-align: center;
}
.page3 h1 span{
    font-family: "Dancing Script", cursive;
    font-size: 8vw;
}
.page4{
    height: 120vh;
    width: 100%;
    background-color: #151414;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
    overflow: hidden;
}
.page4 video{
    height: 80%;
    width: 80%;
    object-fit: cover;
    cursor: pointer;
}
#moving-button{
    position: relative;
    height: 10vh;
    width: 10vh;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    border: 1px solid white;
}
#moving-button i{
    color: white;
}
.elem h4{
    color: white;
}
.elem h4:nth-child(2){
    font-weight: 300;

}
.page5{
    height: 90vh;
    width: 100%;
    background-color: #9AC1CC;
    overflow: hidden;
}
.page5 h1{
    font-size: 37vw;
}
.page6{
    height: 100vh;
    width: 100%;
    background-color: #151414;
}